a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: grey;
  padding: 20px;
  color: white;
  text-align: end;
}

.active-class {
  background-color: palevioletred;
  border-color: palevioletred;
  box-shadow: 0 0 0 0.2rem rgba(219, 112, 147, 0.5);
  color: white;
}
